.form-header{
    position:relative;
}
.form-header h2{
    margin-top: 5px;
    margin-bottom: 0px;
}
.form-header p{
    color: #606060;
    padding: 0px 15px;
    letter-spacing: 0.5px;
}
.close-btn{
    position:absolute;
    top: -5px;
    right: 0px;
    background-color:white;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #aaa;
    transition: all 150ms ease-in-out;
}
.close-btn:hover{
    color: #343799;
    cursor: pointer;
}
